/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Taviraj", serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: none;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
	font-family: "Taviraj", serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

c

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 80px;
}

.section-title h1 {
	color: #242424;
	font-size: 72px;
	font-weight: 400;
	line-height: 72px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #ffffff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
	padding-left: 34px;
	padding-right: 64px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	border: 2px solid #AE954B;
	position: relative;
}

.primary-btn i {
	position: absolute;
	right: 25px;
	top: 14px;
	font-size: 21px;
	color: #AE9548;
}

.submit-btn {
	color: #ffffff;
	background: #82D026;
	font-size: 14px;
	font-weight: 400;
	border: none;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;
}

/*--------Index CSS style-------*/

/*header*/
.navbar{
	background: #353535;
    padding: 25px 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid #AE954B;

}

@media only screen and (max-width: 990px){
.navbar .navbar-nav {
    background: #555;
    margin-right: 30px;
}
}

.navbar .navbar-brand{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 40px;
	margin-left: 30px;
	letter-spacing: 3px;
	font-family: "Taviraj", serif;
}

.navbar-nav{
	margin-left:30px;
}
.navbar-nav .nav-item .nav-link{
	font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding: 20px;
    font-family: "Taviraj", serif;
} 


.navbar-nav .nav-item .nav-link:hover{
	color: #AE954B;
	text-decoration: underline;
}

.navbar-collapse{
	z-index: 1;
}
.dropdown .drop-menu{
	position: absolute;
    left: 0;
    top: 70px;
    background: #ffffff;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar-toggler .burgur{
	 float: right;
    margin-top: 1px;
}

.navbar-toggler .burgur .slicknav_icon-bar{
   background-color: #fff;
   display: block;
    width: 1.125em;
    height:3px;
    margin-top: .188em;
    line-height: 1.125em;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    font-family: "Taviraj", serif;
}


.dropdown:hover .dropdown-menu {
	display: block;
}

 .dropdown-menu .dropdown-item:hover{
	color: #AE954B;
	text-decoration: underline;

}
.navbar-toggler{
	margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: .438em .625em;
    line-height: 1.125em;
}
.navbar-toggler-icon{
	color: white;
	padding-right:70px;
}

.top-info{
	float: right;
	position: relative;
}

.top-info {
    position: absolute;
    right: 40px;
    top: 40px;

}
.top-info .address{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    display: inline-block;
    max-width: 160px;
}

.top-info .lnr{
	color: #AE954B;
	font-size: 40px;
}

@media only screen and (max-width: 1124px){
	.top-info{
		display: none;
	}
}

/* END Navbar*/

.header-section{
	
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 938px;
    padding-top: 395px;

}

@media only screen and (max-width: 767px){
	.header-section{
		height: 1100px;
	}
}

@media only screen and (max-width: 400px){
	.header-section{
		height: 1500px;
	}
}

.header-section h1{
	font-size: 96px;
    color: #ffffff;
    line-height: 96px;
    font-weight: 500;
    font-family: "Taviraj", serif;
     z-index: -1;
}


@media only screen and (max-width: 990px){
.header-section h1 {
    font-size: 60px;
    line-height: 40px;
}
}
@media only screen and (max-width: 767px){
.header-section h1 {
    font-size: 40px;
    line-height: 40px;
}
}

/*siders*/

.slider-nav {
	position: absolute;
	right: 0;
	top: 0;
}

@media only screen and (max-width: 767px){
.slider-nav {
    position: relative;
    display: block;
    padding-top: 40px;
  
}
.slider-nav .single-slider-nav{
	margin-top: 20px;
}
}


@media only screen and (max-width: 370px){
.slider-nav {
    position: relative;
    display: block;
    padding-top: 40px;

}


}

.slider-nav .single-slider-nav {
	display: inline-block;
	margin-right: 26px;
	text-decoration: none;
}

.slider-nav .single-slider-nav.last {
	margin-right: 0;
}

.slider-nav .single-slider-nav:hover .nav-text {
	background: #ffffff;
	border: 1px solid #ae9548;
	border-top: 0;

}

.slider-nav .single-slider-nav:hover .nav-text p {
	 color:  #AE954B;;
}

.slider-nav .single-slider-nav .nav-text {
	background: #353535;
	padding: 8px 15px;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #353535;
	border-top: 0;
}

.slider-nav .single-slider-nav .nav-text p {
	color: #ffffff;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

.slider-nav .single-slider-nav .nav-text p i {
	position: absolute;
	right: 15px;
	top: 11px;
	font-size: 20px;
	color: #ae9548;
}

/*room availability*/

.room-check {
	padding-bottom: 80px;
	padding-top: 80px;
}

.room-item {
	margin-bottom: 40px;
	-webkit-box-shadow: 2px 15px 75px 6px #ECECEC;
	box-shadow: 2px 15px 75px 6px #ECECEC;
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button] {
	color: #AE9548;
	font-size: 26px;
	height: 69px;
	width: 52px;
	background: #353535;
	line-height: 72px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-34.5px);
	transform: translateY(-34.5px);
}

.room-item .room-pic-item.owl-carousel .owl-nav button[type=button].owl-next {
	left: auto;
	right: 0;
}



.room-item .room-text {
	overflow: hidden;
	padding-left: 35px;
	padding-top: 35px;
	padding-right: 45px;
	padding-bottom: 37px;
	border: 2px solid #AE9548;
	
	background-color: white;
}

.room-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 36px;
}

.room-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.room-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.room-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.room-item .room-text .room-features {
	overflow: hidden;
}

.room-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 50px;
}

.room-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.room-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.room-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

.room-item .room-text .room-features .room-info img{
	font-size: 10px;
}
.check-form {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 55px;
	height: 556px;
	border: 2px solid #AE9548;
}


@media screen and (max-width: 767px) {
	.check-form {
		height: 100%;
	}
}

.check-form h2 {
	font-size: 36px;
	font-weight: 400;
	color: #081624;
	margin-bottom: 40px;
}

.check-form .datepicker {
	margin-bottom: 52px;
}

.check-form .datepicker .date-select {
	display: inline-block;
	position: relative;
	margin-right: 56px;
}

.check-form .datepicker .date-select.to {
	margin-right: 0;
}

.check-form .datepicker .date-select p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .datepicker .date-select input {
	font-size: 14px;
	font-weight: 600;
	color: #242424;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	opacity: 0.5;
	border: none;
	letter-spacing: 1.2px;
	height: 48px;
	border-bottom: 1px solid #888888;
	width: 168px;
	display: block;
}

.check-form .datepicker .date-select img {
	position: absolute;
	right: 0;
	bottom: 16px;
}

.check-form .room-quantity {
	margin-bottom: 34px;
}

.check-form .room-quantity .single-quantity {
	display: inline-block;
	margin-right: 105px;
}

.check-form .room-quantity .single-quantity.last {
	margin-right: 0;
}

.check-form .room-quantity .single-quantity p {
	font-size: 14px;
	color: #081624;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-quantity .single-quantity .pro-qty {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #8C9299;
}

.check-form .room-quantity .single-quantity .pro-qty .qtybtn {
	float: left;
	width: 15px;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #081624;
	font-size: 18px;
	letter-spacing: 0.4px;
	font-weight: 300;
}

.check-form .room-quantity .single-quantity .pro-qty input {
	width: 28px;
	border: none;
	float: left;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #081624;
	opacity: 0.25;
	letter-spacing: 0.4px;
	margin-top: -2px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}
.check-form .room-selector {
	display: block;
}

.check-form .room-selector p {
	font-size: 14px;
	color: #242424;
	margin-bottom: 2px;
	font-weight: 400;
}

.check-form .room-selector .nice-select {
	border-radius: 0;
	border-bottom: 1px solid #888888;
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	width: 100%;
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 55px;
}

.check-form .room-selector .nice-select span {
	color: #242424;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	opacity: 0.5;
}

.check-form .room-selector select {
	width: 100%;
}

.check-form button {
	font-size: 18px;
	color: #081624;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.check-form button i {
	line-height: 16px;
	margin-top: 6px;
	position: absolute;
	right: -45px;
	bottom: 7px;
	font-size: 31px;
	color: #AE9548;
}

/*facility section*/

.facility-section{
    background: #F7F7F7;
    padding-bottom: 115px;
    padding-top: 86px;
}

.facility-contianer h1 {
    color: #242424;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
}
@media only screen and (max-width: 767px){
.facility-container .facility-img {
    height: 400px;
}
}

.facility-img img{
	height: 567px;
}

.facility-container .facility-text-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 570px;
	background: #ffffff;
	padding: 70px 30px;
}

.facility-container .facility-text-wrap .facility-text{
	    max-width: 410px;
}
.facility-container .facility-text-wrap .facility-text h1{
	color: #242424;
    letter-spacing: 0.2px;
    margin-bottom: 17px;
}
.facility-container .facility-text-wrap .facility-text p{
    font-size: 18px;
    line-height: 36px;
    color: #242424;
    color: #242424;
    margin-bottom: 24px;
}

.facility-container .facility-text-wrap .facility-text a{
	text-decoration: none;

}

.facility-container .facility-text-wrap .facility-text a:hover{
	color: #AE954B;
	

}
.facility-container .facility-text-wrap .facility-text .primary-btn .fac-btn i {
	right: 35px;
}

/*testimonial*/

.testimonial-item {
	margin-left: -40px;
	margin-right: -40px;
}
.testimonial-item .single-testimonial-item {
	-webkit-box-shadow: 2px 15px 75px 6px #e8e8e8;
	box-shadow: 2px 15px 75px 6px #e8e8e8;
	padding-left: 40px;
	padding-top: 55px;
	padding-bottom: 45px;
	padding-right: 35px;
	margin-bottom: 52px;
	position: relative;

}

.testimonial-item .single-testimonial-item .test-date {
	color: #242424;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
	opacity: 0.5;
}

.testimonial-item .single-testimonial-item .test-rating {
	color: #ED8A19;
	font-size: 24px;
	margin-bottom: 10px;
}
.testimonial-item .single-testimonial-item .test-rating i {
	margin-right: 5px;
}

.testimonial-item .single-testimonial-item h4 {
	color: #242424;
	font-size: 24px;
	line-height: 50.03px;
}

.testimonial-item .single-testimonial-item p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}
.testimonial-author-item ul li {
	list-style: none;
	display: inline-block;
}

.testimonial-author-item ul li a.active {
	opacity: 1;
}
.testimonial-author-item ul li a.active .author-pic {
	margin-right: 32px;
}
.testimonial-author-item ul li a.active .author-pic:after {
	opacity: 1;
}
.testimonial-author-item ul li a.active .author-text {
	display: block;
	margin-right: 35px;
}
.testimonial-author-item ul li a {
	display: block;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.testimonial-author-item ul li a:hover {
	opacity: 1;
}

.testimonial-author-item ul li a .author-pic {
	float: left;
	margin-right: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	position: relative;
}

.testimonial-author-item ul li a .author-pic:after {
	position: absolute;
	left: 15px;
	top: -72px;
	width: 40px;
	height: 40px;
	background: #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
}

.testimonial-author-item ul li a .author-pic img {
	height: 68px;
	width: 68px;
	border-radius: 50%;
}

.testimonial-author-item ul li a .author-text {
	float: left;
	margin-top: 8px;
	display: none;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-author-item ul li a .author-text h5 {
	color: #ae9548;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
}

.testimonial-author-item ul li a .author-text h5 span {
	color: #242424;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.2px;
	line-height: 24px;
	text-transform: capitalize;
	display: block;
}

	
/*footer*/

.pb-50 {
	padding-bottom: 50px;
}

.footer-section {
	background: #353535;
	padding-top: 43px;
	overflow: hidden;
}

.footer-section .footer-logo {
	margin-bottom: 50px;
}

.footer-section .footer-logo a {
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 40px;
}

.footer-section .single-footer-widget {
	margin-bottom: 25px;
}

.footer-section .single-footer-widget h5 {
	font-size: 18px;
	line-height: 42px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text {
	position: relative;
}



.footer-section .single-footer-widget .widget-text i {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 18px;
	color: #ae9548;
}

.footer-section .single-footer-widget .widget-text p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-left: 30px;
}

.footer-section .copyright-area {
	overflow: hidden;
	padding: 30px 0;
	border-top: 1px solid #ae9548;
}

.footer-section .copyright-area .copyright-text {
	float: left;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #ffffff;
	line-height: 24px;
}

.footer-section .copyright-area .copyright-text i {
	color: #ff2410;
}

.footer-section .copyright-area .copyright-text a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-section .copyright-area .privacy-links {
	float: right;
	margin-right: 35px;
}

.footer-section .copyright-area .privacy-links a {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	margin-right: 30px;
}

.follow-us ul{
	float: right;
}

.follow-us ul a{

	padding-right: 60px;
	font-size: 25px;
	color: #ae9548;
}
.follow-us ul a:hover{
	color: white;
}


/*---------About CSS Style-----------*/

/*header*/


.hero-section {
	height: 428px;
	padding-top: 207px;

}

.hero-text {
	position: relative;
	padding-left: 270px;
}

.hero-text h1 {
	font-size: 96px;
	color: #ffffff;
	line-height: 96px;
}

.hero-text .page-nav a {
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: "Taviraj", serif;
	position: absolute;
	left: 49px;
	top: 30%;
	text-decoration: none;
}

.hero-text .page-nav a i {
	color: #ae9548;
	position: relative;
	top: 2px;
}

.hero-text .page-nav a:hover{
	color: #ae9548;
	-ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

.hero-text .page-nav a.left-nav i {
	margin-right: 20px;
}

.hero-text .page-nav a.right-nav {
	left: auto;
	right: 49px;
}

.hero-text .page-nav a.right-nav i {
	margin-left: 20px;
}
/*about paragraph*/


.about-us-room {
	padding-top: 90px;
	padding-bottom: 62px;
}

.about-us-room h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #242424;
	margin-bottom: 26px;
}

.about-us-room .about-para {
	margin-bottom: 13px;
}

.about-us-room .about-para p {
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.1px;
}
@media only screen and (max-width: 767px){
	.hero-text{
		padding-left: 0;
	}
.hero-text .page-nav a, .hero-text .page-nav a.right-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 30px;
    font-size: 20px;
}

}
@media only screen and (max-width: 900px){
.hero-text h1{
	font-size: 50px;
}

}

@media only screen and (max-width: 479px) and (min-width: 320px){
.hero-text h1 {
    font-size: 75px;
}}

/*video*/

.video-section {
	background-color: #EEEEEE;
}
.video-section .container h1{
	margin-top: 50px;
}

.video-section .container img{
	margin-top: 30px;
	height: 500px;
}

.video-section .container .play-btn{
	width: 50px;
	position: relative;
	top: -50%;
	cursor: pointer;
	transition: 0.5s;
	color: white;
	font-size: 50px;

}

.video-section .container .play-btn:hover{
	color: #ae9548;
	-ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

@media only screen and (max-width: 767px){
.video-section {
    padding-top: 220px;
}
}
/*Gallery*/

.gallery-section {
	padding-bottom: 60px;
}

.gallery-text {
	padding-top: 136px;
	margin-bottom: 40px;
}

.gallery-text h2 {
	color: #242424;
	margin-bottom: 17px;
	font-size: 48px;
}

.gallery-text p {
	font-size: 16px;
	line-height: 32px;
	color: #242424;
	margin-bottom: 30px;
	letter-spacing: 0.2px;
}

.gallery-text a{
	text-decoration: none;
}

.gallery-text a:hover{
	color: #ae9548;
	text-decoration: 
}
.gallery-text .primary-btn.fac-btn i {
	right: 35px;
}

.gallery-img {
	margin-bottom: 30px;
}

.gallery-img img {
	min-width: 100%;
}


/*-----servicec CSS syle---*/
.services-section{
	padding: 40px 15px 10px;
}
.services-section .single-services-item{
	margin-bottom: 30px;
}
.services-section .single-services-item.changed-align .services-text {
	-webkit-transform: translateY(-72px);
	transform: translateY(-72px);
}
 .services-section .single-services-item .service-img {
	position: relative;
}
.services-section .single-services-item .service-img img {
	width: 100%;
}

.services-section .single-services-item .service-text {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 0 40px;
	-webkit-transform: translateY(-24px);
	transform: translateY(-24px);
	
}

.services-section .single-services-item .service-text h2 {
	font-size: 48px;
	color: #ffffff;
	line-height: 48px;
}

@media (min-width: 576px){
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}

/*service features*/
.features-section {
	padding-top: 30px;
	background: #F7F7F7;
	padding-bottom: 65px;
}

.single-features-item {
	padding-top: 30px;
	text-align: center;
	margin-bottom: 55px;
}

.single-features-item img {
	color: #ae9548;
	display: inline-block;
	margin-bottom: 10px;
}

.single-features-item h3 {
	font-size: 24px;
	color: #ae9548;
	margin-bottom: 13px;
}

.single-features-item p {
	color: #242424;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.2px;
}
/*rooms*/
.room-section {
	padding-bottom: 0;
}

.rooms-page-item {
	-webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
	box-shadow: 2px 15px 75px 6px #EBEBEB;
	margin-bottom: 100px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.rooms-page-item .room-text {
	padding-top: 33px;
	padding-right: 30px;
	padding-bottom: 34px;

}

.rooms-page-item .room-text a:hover{
   color:  #AE9548;
}

.rooms-page-item .room-text .room-title {
	overflow: hidden;
	margin-bottom: 18px;
	padding-right: 40px;
}

.rooms-page-item .room-text .room-title h2 {
	float: left;
	font-size: 36px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price {
	float: right;
	position: relative;
}

.rooms-page-item .room-text .room-title .room-price span {
	position: absolute;
	left: -40px;
	bottom: 7px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 14px;
	color: #2d220f;
}

.rooms-page-item .room-text .room-title .room-price h2 {
	font-size: 36px;
	color: #081624;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.rooms-page-item .room-text .room-title .room-price sub {
	position: absolute;
	right: -37px;
	bottom: 13px;
	color: #2d220f;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.rooms-page-item .room-text .room-desc {
	margin-bottom: 20px;
}

.rooms-page-item .room-text .room-desc p {
	font-size: 16px;
	color: #242424;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.rooms-page-item .room-text .room-features {
	overflow: hidden;
	margin-bottom: 35px;
}

.rooms-page-item .room-text .room-features .room-info {
	float: left;
	text-align: center;
	margin-right: 38px;
}

.rooms-page-item .room-text .room-features .room-info.last {
	margin-right: 0;
}

.rooms-page-item .room-text .room-features .room-info i {
	display: block;
	color: #ae9548;
	margin-bottom: -4px;
}

.rooms-page-item .room-text .room-features .room-info span {
	display: block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #2d220f;
}

/*book*/

:focus{outline: none;
}

.col-3{
  float: left; 
  width: 27.33%; 
  margin: 20px 3%; 
  position: relative;
} 

input[type="text"][type="tel"][type="email"]{
  font: 15px/24px "Lato", Arial, sans-serif; 
  color: black; 
  width: 200px; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

.effect-16 {
  border: 0; 
  padding: 8px 0; 
  border-bottom: 1px solid #ccc; 
  background-color: transparent;
}

.effect-16 ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100; 
  height: 1px; 
  background-color: #AE9548;
  transition: 0.4s;
}

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{
  width: 200px; 
  transition: 0.4s;
}

.effect-16 ~ label{
  position: absolute; 
  width: 100%; 
  top: 9px; 
  color: black; 
  transition: 0.3s; 
  z-index: -1; 
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
  top: -16px; 
  font-size: 12px; 
  color: #AE9548; 
  transition: 0.3s;
}

  .btn:hover{
    color: #ae9548;
	-ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);

  }

  @media screen only(max-width: 400px){

  }
/*contact*/

.contact-left {
	margin-top: 60px;
	margin-bottom: 30px;
}

.contact-left .contact-info{
	margin-bottom: 80px;
}

.contact-left .contact-info h2 {
	color: #081624;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 28px;
}

.contact-left .contact-info ul li {
	list-style: none;
	position: relative;
	margin-bottom: 26px;
	list-style: none;
}

.contact-left .contact-info ul li img {
	position: absolute;
	left: 0;
	top: 2px;
}

.contact-left .contact-info ul li span {
	color: #0e0e0e;
	display: inline-block;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 18px;
	margin-left: 40px;
}

.contact-left .social-links h2 {
	color: #081624;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 46px;
}

.contact-left .social-links a {
	display: inline-block;
	height: 46px;
	width: 46px;
	border: 1px solid #ae9548;
	color: #ae9548;
	border-radius: 50%;
	line-height: 46px;
	font-size: 22px;
	margin-right: 7px;
	text-align: center;
	text-decoration: none;
}

.contact-left .social-links a i{
	color: #ae9548;
}

.contact-form {
	border: 2px solid #ae9548;
	padding-left: 60px;
	padding-top: 55px;
	padding-right: 68px;
	padding-bottom: 47px;
}

.contact-form h5 {
	font-size: 36px;
	font-weight: 400;
	color: #081624;
	line-height: 50px;
	margin-bottom: 20px;
}

.contact-form form p {
	font-size: 14px;
	color: #242424;
	line-height: 42px;
	letter-spacing: 0.4px;
	margin: 0;
}

.contact-form form input {
	width: 100%;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #242424;
	letter-spacing: 1.2px;
	opacity: 0.5;
	position: relative;
	line-height: 42px;
	border: none;
}

.contact-form form input::-webkit-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::-moz-placeholder {
	text-transform: uppercase;
}

.contact-form form input:-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form input::placeholder {
	text-transform: uppercase;
}

.contact-form form textarea {
	width: 100%;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #242424;
	letter-spacing: 1.2px;
	opacity: 0.5;
	border: none;
	resize: none;
	height: 81px;
	line-height: 2;
}

.contact-form form textarea::-webkit-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::-moz-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea:-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::-ms-input-placeholder {
	text-transform: uppercase;
}

.contact-form form textarea::placeholder {
	text-transform: uppercase;
}

.contact-form form button {
	font-size: 18px;
	color: #081624;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.contact-form form button i {
	line-height: 16px;
	margin-top: 6px;
	position: absolute;
	right: -45px;
	bottom: 7px;
	font-size: 31px;
	color: #AE9548;
}

.contact-form form .input-group {
	position: relative;
	margin-bottom: 10px;
}

.contact-form form .input-group:after {
	position: absolute;
	left: 0;
	top: 48px;
	width: 100%;
	height: 1px;
	background: #000;
	content: "";
}

.contact-form form .input-group.phone-num img {
	top: 10px;
}

.contact-form form .input-group img {
	position: absolute;
	right: 0;
	top: 15px;
}

.contact-form form .message {
	border-bottom: 1px solid #888888;
	margin-top: 27px;
	margin-bottom: 40px;
}

.contact-form form .message .textarea {
	position: relative;
}

.contact-form form .message .textarea:before {
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	height: 1px;
	background: #000;
	content: "";
}

.contact-form form .message .textarea:after {
	position: absolute;
	right: 0;
	bottom: 30px;
	width: 100%;
	height: 1px;
	background: #888888;
	content: "";
}

.contact-form form .message .textarea img {
	position: absolute;
	right: 5px;
	top: 5px;
}
